

#AppLayout{
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#FlowPaneProgressPane{
    -fx-padding: 2 4 2 4; /* top / right / bottom / left */
}

#hBoxScanSystemForSnapshotsRow1{
    -fx-padding: 4 4 0 4;
}

#TextFieldFilter{
    -fx-alignment: center-left;
}
#CheckboxUserInformation{
    -fx-font-size: 10px;
    -fx-padding: 6px;
    -fx-border-insets: 6px;
    -fx-background-insets: 6px;
}

#SliderDeleteMarkedSnapshotsInGroup{
    -fx-alignment: center-left;
}
#SliderTakeSnapshotsInGroup{
    -fx-padding: 0 0 0 20;
}

#HTMLEditorInsertVMs{
    -fx-font-size: 8;
}

.TaskEntryProgressIndicator {
    -fx-padding: 15 0 0 0;
}

.TaskEntryProgressIndicator .percentage{
    -fx-fill: null;
}

.TaskEntryProgressIndicator .progress-indicator{

}


.TaskEntryLabel{
    -fx-font-size: 10px;
}

.TabHBoxRow{
    -fx-padding: 2 4 2 4;
}

.TaskMainTitle{
    -fx-padding: 10 0 0 0 ;
    -fx-font-style: italic;
    -fx-font-size: 12px;
}